/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

#window {
    height: 150px; /*  size of the profile */
    width: 150px;
    background-image: url(sophy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #6d6a6a;
    box-sizing: content-box;
   
  }
  #window-container {
    border-radius: 50%;
    transition: 0.3s ease all;
   
  }
  
  #window-container:hover {
    transform: scale(0.99);
  }
  #window-inner-container {
    height: 160px;          /*  size of the border */
    width: 160px;
    border-radius: 50%;
    border: 5px solid #444444;
    box-sizing: content-box;
    box-shadow: 0px 0px 5px #444444;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* #window-inner-container:hover {
    border-color: black;
    box-shadow: 0px 0px 5px black;
  } */
  #window-cirle-container:hover {
    box-sizing: content-box;
  }


.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1b1b1b;
    color: #7A7C80;

}

h2,.white{
    color: #fff;
}

h3{
    color: #bbb;
}

a{
    color: #7A7C80;
    text-decoration: none;
}

i.fab {
    font-weight: normal;
}

/* section 1 */
.section-1{
    padding-top: 23vh;
    padding-left: 20vw;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a, .icon-link-container a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 18vh;
    padding-bottom: 10vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 20px;
}

.section-2 h3{
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 20px;
    margin:0;
}

.section-2 .fa-li i {
    color: #fff;
}

.section-2 a{
    font-size: 1.1rem;
    color: #fff;
}

.section-2 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid white;
}

.section-1 a:hover, .icon-link-container a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

.nav {
    text-align: right;
    padding-top: 20px;
    padding-right: 25px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
